.video-list{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video{
    margin-bottom: 60px;
}

.video-title{
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.video-title h2{
    color: white;
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.video iframe{
    width: 1152px;
    height: 648px;
    border:none !important;
}

@media only screen and (max-width: 1349px) {
    .video iframe{
        width: 1152px;
        height: 648px;
    }
}

@media only screen and (max-width: 1176px) {
    .video iframe{
        width: 896px;
        height: 504px;
    }
}

@media only screen and (max-width: 1049px) {
    .video iframe{
        width: 768px;
        height: 432px;
    }
}

@media only screen and (max-width: 1049px){
    .video iframe{
        width: 640px;
        height: 360px;
    }
}
@media only screen and (max-width: 794px){

    .video iframe{
        width: 512px;
        height: 288px;
    }
    .video-title h2{
        font-size: 18px;
    }
    
}

@media only screen and (max-width: 668px){
    .video iframe{
        width: 512px;
        height: 288px;
    }
}
@media only screen and (max-width: 546px){
    .video iframe{
        width: 384px;
        height: 216px;
    }
    .video-title h2{
        font-size: 13.5px;
    }
}
@media only screen and (max-width: 376px){
    .video iframe{
        width: 256px;
        height: 144px;
    }
    .video-title h2{
        font-size: 12px;
        letter-spacing: 0px;
    }
}