.trending-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trending{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    max-width: 1340px;
}

